# dependencies
node_modules/
app/node_modules/
landing/node_modules/

# Expo & Build
.expo/
app/.expo/
dist/
web-build/

# OS
.DS_Store
*.log
*.apk

# Environment variables
.env
.env.*
!.env.example

